*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border:none;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
img{width: 100%;}
a{text-decoration: none;}
ul{list-style:none;}


/*FLEX CONTAINER*/
.flex-container{
	overflow-y: hidden;
	display: flex;
}

/*CONTENT MENU*/
.content-menu{
	width: 200px;
	height: 100vh;
	border-right: 2px solid #ccc;
	margin-right: 10px;
	background-color: #fff;
}
.content-menu ul.menu{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
	background-color: #fff;
}
.content-menu ul.menu li{
	width: 100%;
	display: block;
}
.content-menu ul.menu li a.btn-submenu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.content-menu ul.menu li a{
	display: block;
	padding:5px 10px;
	color: #333;
	font-size: 14px;
}
.content-menu ul.menu li a:hover{
	background-color: #333;
	color: #fff;
	cursor: pointer;
}
/*submemu*/
.content-menu ul.menu li ul.submenu{
	background-color: #ccc;
	padding-left: 5px;
}
.content-menu ul.menu li ul.submenu a{
	background-color: #fff;
}
.content-menu ul.menu li ul.submenu a:hover{
	background-color: #333;
	color: #fff;
}
/*INFO LOGIN USER*/
.info-login{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-bottom: 1px solid #fff;
	padding: 10px 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}
.info-login .nome-btn-user{
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}
.info-login .nome-btn-user h2{
	color: #333;
	cursor: pointer;
}
.info-login .nome-btn-user span#btn-user{
	color: #333;
	cursor: pointer;
	position: relative;
}
.info-login .acoes-user{
	position: absolute;
	top: 100%;
	left: 0;
}
.info-login .acoes-user ul{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	border:1px solid #ccc;
}
.info-login .acoes-user ul li{
	display: block;
	width: 100%;
}
.info-login .acoes-user ul li a{
	display: block;
	width: 100%;
	padding: 7px 20px;
	font-size: 12px;
	color: #333;
	transition: background .8s;
}
.info-login .acoes-user ul li a:hover{
	background-color: #333;
	color: #fff;
}
.info-login .patente-user{
	display: flex;
	justify-content: flex-start;
	padding: 0 20px;
}
.info-login .patente-user span{
	font-size: 10px;
	color: #ccc;
	cursor: pointer;
	text-decoration: underline;
}

/*CONTENT PRINCIPAL*/
.content-principal{
	flex: 1;
	background-color: #efefef;
	height: 100vh;
	border:1px solid #333;
	padding: 10px;
}

/*Informçõs dos produtos*/
.section-produtos{
	display: flex;
	justify-content: space-between;
}
.section-produtos .article{
	background-color: #fff;
	border:1px solid #ccc;
	border-radius: 10px;
	padding: 10px 10px  0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex:1;
	margin-right: 15px;
}
.section-produtos .article:last-child{
	margin-right: 0;
}
.section-produtos .article h2{
	color: #333;
	font-size: 14px;
	margin-bottom: 10px;
}
.section-produtos .article span{
	color: #333;
	margin-bottom: 10px;
}
.section-produtos .article a{
	width: 100%;
	font-size: 12px;
	color: #333;
	text-align: center;
	border-top: 1px solid #ccc;
}
.section-produtos .article a i{
	padding: 4px;
}